<div id="banner" class="round">
	<h3>Discover Chicago.</h3>
	<h3>Explore Chicago's neighborhoods without the hassle of exploring Yelp. LookAboutYou guides offer:</h3>
	<div class="col-3", id="three">
 		Three things to learn, see, or do.
	</div>
	<div class="col-3", id="one">
		One cafe to enjoy and relax.
	</div>
	<div class="col-3", id="two">
		Two suggested bars to visit.
	</div>
</div>

