<h4>Chicago's Neighborhoods | <%= link_to 'Add a New Neighborhood', new_neighborhood_path %></h4>
<hr>

<table class="neighborhood">
  <tr>
    <th>Neighborhood</th>
  </tr>

<% @neighborhoods.each do |neighborhood| %>
  <tr>
    <td><%= link_to neighborhood.name, neighborhood_url(neighborhood.id) %></td>
  </tr>
<% end %>
</table>

<table class="neighborhood">
  <tr>
    <th>Guides</th>
  </tr>

<% @guides.each do |guide| %>
  <tr>
    <td><%= link_to guide.name, guide_url(guide.id) %></td>
  </tr>
<% end %>
</table>

